<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>
  <h1 class="notice"><%= flash[:notice] %></h1>
  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>
        <div>
          <%= form_for([@product, @review]) do |f| %>
            <div class="field">
              <%= f.label :description %><br>
              <%= f.text_field :description %>
            </div>
            <div class="field">
              <%= f.label :rating %><br>
              <%= f.select(:rating, options_for_select([['1/5', 1], ['2/5', 2], ['3/5', 3], ['4/5', 4], ['5/5', 5]])) %>
            </div>
            <div class="actions">
              <%= f.submit %>
            </div>
          <% end %>
          <h2>Reviews from our customers:</h2>
          <% @product.review.reverse_each do |review| %>
            <p>Review: <%= review.description %></p>
            <p>Rating: <%= review.rating %></p>
            <br>
          <% end %>
      </div>
    </div>

  </article>

</section>
